__pycache__/
*.py[cod]
*$py.class
*.metaflow

*.h5

build/
dist/
*.egg-info/

.tox/

.ipynb_checkpoints/


R/cran_check/
R/.Rproj.user
R/*.Rproj
R/.Rbuildignore
.Rproj.user

.DS_Store
.env
node_modules
main.js.map

.project
.pydevproject

# Pycharm
.idea

stubs/version.py
.metaflow/*
metaflow.*.*/

examples/real-examples/mnist_ptl/lightning_logs/*
examples/real-examples/mnist_ptl/checkpoints/*
examples/real-examples/mnist_ptl/MNIST/*
dump*
examples/real-examples/mnist_keras/model_checkpoints/*
examples/real-examples/mnist_keras/checkpoint_downloads/*

examples/real-examples/mnist_huggingface/logs/*
examples/real-examples/mnist_huggingface/MNIST/*
examples/real-examples/mnist_huggingface/results/*
examples/real-examples/mnist_huggingface/checkpoint_downloads/*

examples/real-examples/mnist_torch_vanilla/model_checkpoints/*
examples/real-examples/mnist_torch_vanilla/model_checkpoints_*/*
examples/real-examples/mnist_torch_vanilla/MNIST/*
examples/real-examples/mnist_torch_vanilla/checkpoint_downloads/*
